# frontend/nextjs
frontend/nextjs/node_modules/
frontend/nextjs/.next/
frontend/nextjs/out/
frontend/nextjs/build/
frontend/nextjs/.vercel
frontend/nextjs/.tailwind
frontend/nextjs/coverage/
frontend/nextjs/.env*
frontend/nextjs/Thumbs.db
frontend/nextjs/.DS_Store
frontend/nextjs/*.tsbuildinfo
frontend/nextjs/npm-debug.log*
frontend/nextjs/yarn-debug.log*
frontend/nextjs/yarn-error.log*
frontend/nextjs/pnpm-debug.log*
frontend/nextjs/.vscode/
frontend/nextjs/.idea/

instructions/

*storybook.log
storybook-static
