# frontend/nextjs
frontend/nextjs/node_modules/
frontend/nextjs/.next/
frontend/nextjs/out/
frontend/nextjs/build/
frontend/nextjs/.vercel
frontend/nextjs/.tailwind
frontend/nextjs/coverage/
frontend/nextjs/.env*
frontend/nextjs/Thumbs.db
frontend/nextjs/.DS_Store
frontend/nextjs/*.tsbuildinfo
frontend/nextjs/npm-debug.log*
frontend/nextjs/yarn-debug.log*
frontend/nextjs/yarn-error.log*
frontend/nextjs/pnpm-debug.log*
frontend/nextjs/.vscode/
frontend/nextjs/.idea/

# backend/java
backend/java/target/
backend/java/.idea/
backend/java/.classpath
backend/java/.project
backend/java/.settings/
backend/java/.vscode/
backend/java/*.iml
backend/java/.mvn/
backend/java/logs/
backend/java/*.log

# ASP.NET Core / .NET
backend/net/bin/
backend/net/obj/
backend/net/*.user
backend/net/*.suo
backend/net/*.vspscc
backend/net/*.vssscc
backend/net/.vs/
backend/net/TestResults/
backend/net/*.dbmdl
backend/net/*.log
backend/net/.vscode/
backend/net/.DS_Store
backend/net/*.swp
backend/net/*.pidb
backend/net/*.userprefs
backend/net/*.sln.docstates
# NuGet packages
backend/net/packages/
backend/net/*.nupkg
# Build output
backend/net/**/*.dll
backend/net/**/*.exe
backend/net/**/*.pdb
backend/net/**/*.cache
backend/net/**/*.config
backend/net/**/*.ide
instructions/

*storybook.log
storybook
